<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="/css/style-login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <!-- Inicio de header -->
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
                <form action=" " method="GET">
                    <input type="text" id="search-bar">
                    <button class="lupa"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#" class="nav-enlace">Ofertas</a></li>
                <li><a href="#" class="nav-enlace">Tiendas Oficiales</a></li>
                <li><a href="#" class="nav-enlace">Vender</a></li>
                <li><a href="#" class="nav-enlace">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register" class="nav-enlace">Crea tu Cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login" class="nav-enlace">Ingresa</a><i class="far fa-caret-square-right"></i></li>
                <li><a href="#" class="nav-enlace">Mis Compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!-- Inicio de main -->
    <main>
        <div class="form-login">
            <form action=" " method="POST">
                <h2>Bienvenid@</h2>
                <br>
                <div class="nombre-usuario">
                    <label for="usuario"></label>
                    <i class="fas fa-id-card"></i>
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" maxlength="30"
                        required>
                </div>
                <br>
                <div class="contra-usuario">
                    <label for="contrasenia"></label>
                    <i class="fas fa-lock-open"></i>
                    <input type="password" name="password" id="contrasenia" placeholder="Contraseña" maxlength="8"
                        required>
                </div>
                <br>
                <div>
                    <label for="boton-enviar"></label>
                    <button type="submit" name="enviar" id="boton-enviar">Log in</button>
                </div>
            </form>
        </div>
    </main>
    <!-- Inicio de footer -->
    <footer>
        <div class="footerart">
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                    ¡Y siempre es seguro!</p>
            </article>
            <br>
            <article>
                <i class="fas fa-gift"></i>
                <h3 class="envio-gratis"> Envío gratis desde $ 2.500 </h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos </p>
            </article>
            <br>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3 class="seguridad"> Seguridad </h3>
                <p>de principio a fin ¿No te gusta? ¡Devolvelo!
                    En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.
                </p>

            </article>
            <br>
        </div>
        <div class="pie">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>

</body>

</html>