<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-register.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <!-- Inicio de header -->
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
                <form action=" " method="GET">
                    <input type="text" id="search-bar">
                    <button class="lupa"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#" class="nav-enlace">Ofertas</a></li>
                <li><a href="#" class="nav-enlace">Tiendas Oficiales</a></li>
                <li><a href="#" class="nav-enlace">Vender</a></li>
                <li><a href="#" class="nav-enlace">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register" class="nav-enlace">Crea tu Cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login" class="nav-enlace">Ingresa</a><i class="far fa-caret-square-right"></i></li>
                <li><a href="#" class="nav-enlace">Mis Compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!-- Inicio de main -->
    <main>
        <div class="form-register">
            <form action=" " method="POST">
                <h2>Crea tu cuenta</h2>
                <div>
                    <label for="nombre"></label>
                    <i class="fas fa-user-alt"></i>
                    <input type="text" name="nombreyapellido" id="nombre" placeholder="Nombre y Apellido" maxlength="30"
                        required>
                </div>
                <br>
                <div>
                    <label for="usuario"></label>
                    <i class="fas fa-user-check"></i>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario" maxlength="30" required>
                </div>
                <br>
                <div>
                    <label for="nacimiento"></label>
                    <i class="fas fa-baby"></i>
                    <input type="date" name="nacimiento" id="nacimiento" value="12/07/2021">
                </div>
                <br>
                <div>
                    <label for="domicilio"></label>
                    <i class="fas fa-home"></i>
                    <input type="text" name="domicilio" id="domicilio" class="type-text" placeholder="Domicilio"
                        maxlength="50">
                </div>
                <br>
                <div>
                    <label for="perfil-cliente"></label>
                    <h4>Selecciona tu perfil:</h4>
                    <i class="fas fa-user-tag"></i>
                    <br>
                    <label>Quiero vender
                        <input type="radio" name="vendedor" value="cliente-vendedor" id="perfil-cliente"></label>
                    <label>Quiero comprar
                        <input type="radio" name="comprador" value="cliente-comprador" id="perfil-cliente"></label>
                </div>
                <br>
                <div>
                    <h4>Selecciona las categorias de interes:</h4>
                    <i class="far fa-bookmark"></i>
                    <br>
                    <p><label>Electro
                            <input type="checkbox" name="electro"></label>
                    </p>
                    <br>
                    <p><label>Moda
                            <input type="checkbox" name="moda"></label>
                    </p>
                    <br>
                    <p><label>Hogar
                            <input type="checkbox" name="hogar"></label>
                    </p>
                    <br>
                    <p><label>Jugeteria
                            <input type="checkbox" name="jugueteria"></label>
                    </p>
                    <br>
                    <p><label>Vida Sana
                            <input type="checkbox" name="vidasana"></label>
                    </p>
                </div>
                <br>
                <div>
                    <label for="foto"></label>
                    <i class="fas fa-portrait"></i>
                    <input type="file" name="foto" id="foto" accept=".jpg">
                </div>
                <br>
                <div>
                    <label for="contrasenia"></label>
                    <i class="fas fa-lock-open"></i>
                    <input type="password" name="password" id="contrasenia" placeholder="Contraseña" maxlength="8"
                        required>
                </div>
                <br>
                <div>
                    <label></label>
                    <i class="fas fa-lock-open"></i>
                    <input type="password" name="confirmarcontrasenia" placeholder="Confirmar contraseña" maxlength="8"
                        required>
                </div>
                <br>
                <div>
                    <label for="boton-enviar"></label>
                    <button type="submit" name="enviar" id="boton-enviar">Enviar</button>
                </div>
                <br>
                <div>
                    <label for="boton-borrar"></label>
                    <button type="reset" name="borrar" id="boton-borrar">Borrar</button>
                </div>
            </form>
        </div>
    </main>

    <!-- Inicio de footer -->
    <footer>
        <div class="footerart">
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                    ¡Y siempre es seguro!</p>
            </article>
            <br>
            <article>
                <i class="fas fa-gift"></i>
                <h3 class="envio-gratis"> Envío gratis desde $ 2.500 </h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos </p>
            </article>
            <br>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3 class="seguridad"> Seguridad </h3>
                <p>de principio a fin ¿No te gusta? ¡Devolvelo!
                    En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.
                </p>

            </article>
            <br>
        </div>
        <div class="pie">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>

</body>

</html>